<!-- 快捷按钮 -->
<div class="shortcut-buttons">
    <button type="button" class="btn-shortcut" id="btn-hetiao">业绩进度</button>
    <button type="button" class="btn-shortcut" id="btn-sa">SA后台</button>
    <button type="button" class="btn-shortcut" id="btn-huikuan">查查回款</button>
    <button type="button" class="btn-shortcut" id="btn-xiadan">记得接口</button>
    <button type="button" class="btn-shortcut" id="btn-qiwei">KMS</button>
    <button type="button" class="btn-shortcut" id="btn-daike">客户归属</button>
</div>